@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you get a list of all your students in one place</p>
    <a asp-controller="Students" asp-action="Index">See All Students</a>
</div>
